body{
  background-color: rgb(143, 247, 212);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blue;
  padding: 8px;
  position: relative;
  margin: 0 50px;
}
.card{
  border: 2px solid rgb(204, 71, 71);
  width: 10vw;
  height: 10vh;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(71, 71, 235);
  font-size: 22px;
  color: white;
}

.btn{
  background-color: red;
  margin-left: 4px;
  padding: 3px ;
  color: white;
  border: none;
}